.home-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: var(--margin);
    /* background-color: bisque; */
}

/* .home-left, .home-right {
    padding: var(--margin);
} */

.home-left {
    /* width: 50%; */
    & h1 {
        padding: 40px;
    }
}

.home-right {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;  */
}

.settings-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.play-pause {
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}

.slider {
    display: flex;
    align-items: center;
    margin: var(--margin);
}

.slider input {
    /* padding: 20px 20px; */
    margin-left: 20px;
}

