.home-container{
    display: flex;
    flex-direction: column;
    margin: var(--margin);
}

.home-left {
    & h1 {
        padding: 40px;
    }
}

.home-right {
    display: flex;
    flex-direction: column;
}

.settings-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.play-pause {
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}

.slider {
    display: flex;
    align-items: center;
    margin: var(--margin);
}

.slider input {
    margin-left: 20px;
}


/* canvas-container */
.canvas-container {
    position: relative;
}

